<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!--<app-header></app-header>
<main>
  <app-login></app-login>
  <app-data-node-create></app-data-node-create>
  <app-data-line-create></app-data-line-create>
</main>-->
<app-nav-bar></app-nav-bar>
<!--Routed View Goes Here-->
