<mat-card>

  <div class="div-personal">
    <h2>
      <b>
        <mat-icon>perm_identity</mat-icon>
        Register Client
      </b>
    </h2>
  </div>

  <div class="div-data">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input type="name" matInput formControlName="name" placeholder="Ex. John Doe">
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ex. john@example.com">
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input placeholder="Password" formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Confirm your password</mat-label>
        <input placeholder="Confirm Password" formControlName="confirmPassword" matInput
          [type]="hideConfirm ? 'password' : 'text'" required>
        <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirm">
          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      
      <br>
      
      <mat-checkbox formControlName="terms" customErrors="customTermsErrors"></mat-checkbox><a >  I agree to the <a [routerLink]="" (click)="openTerms()"><u>terms and conditions</u></a>.</a>
    </form>
  </div>

  <br>

  <div class="button-wrapper">
    <p></p>
    <button mat-raised-button color="primary" (click)="onRegister()">Register</button>
    &nbsp;
    <p></p>
    <p>Already have an account? Click <a [routerLink]="['/auth/login']">here</a> to login</p>
  </div>
</mat-card>
