<h2 mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content class="mat-typography">

  <p>The responsability of the data treatment falls to ISEP - Instituto Superior de Engenharia do Porto through the team
    maintaining this service,
    reachable through the email <a href="mailto:grupo33lapr5@protonmail.com">grupo33lapr5@protonmail.com</a>.</p>

  <br>

  <p>By consenting and agreeing with the Terms and Conditions of use you allow that the following information is kept
    for the creation of an account in within our services:</p>
  <ul>
    <li>Email</li>
    <li>Name</li>
  </ul>
  <p>This information is necessary for utilization of the service and by not agreeing to share it the proper usage of
    the service will be at risk.</p>

  <br>

  <p>The previous information is not to be shared with third party systems or other entities, except if its required by
    a legal subpoena or other legal process, and will be stored until the user cancels the his account as the requested
    data is necessary for the usage of the service.</p>

  <br>

  <p>As the user, the following rights can be applied:</p>
  <ol>
    <li>Access all the information related to the user;</li>
    <li>Change or delete all the information related to the user;</li>
    <li>Remove the consent given to store the information.</li>
  </ol>

  <br>

  <p>To apply these rights:</p>
  <ol>
    <li>Available in the user profile;</li>
    <li>Available in the user profile, or, to change information, send an email to <a
        href="mailto:grupo33lapr5@protonmail.com">grupo33lapr5@protonmail.com</a>;</li>
    <li>Send an email to <a href="mailto:grupo33lapr5@protonmail.com">grupo33lapr5@protonmail.com</a>.</li>
  </ol>

  <p>
    To file a complaint, the user may send an email to the support in <a
      href="mailto:grupo33lapr5@protonmail.com">grupo33lapr5@protonmail.com</a> or contact the
    national data protection
    committee (CNPD) reachable in the following address, Av. D. Carlos I, 134 - 1.º 1200-651 Lisboa, upon scheduling an
    appointment.
  </p>

  <br>

  <p>In case the data is needed for other purposes than the usage of the service the user will be properly warned and
    asked for consent.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
