<mat-card>
  <form
    [formGroup]="createDriverTypeForm"
    (ngSubmit)="onCreateDriverType()"
    novalidate
  >
    <h1>Create Driver Type</h1>

    <!--Driver Type Name-->
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" type="text" />
      <mat-error *ngIf="hasError('name', 'maxlength')"
        >Driver Type Name can't be more than 250 characters long
      </mat-error>
    </mat-form-field>

    &nbsp;&nbsp;&nbsp;

    <div class="button-wrapper">
      <button mat-raised-button color="primary">Create Driver Type</button>
    </div>
  </form>
</mat-card>
