<mat-card>
  <form [formGroup]="createTripsForm" novalidate>
    <h1>Create Multiple Trips</h1>

    <mat-form-field>
      <!--Select Line-->
      <mat-select id="line"
                  placeholder="Please Select one Line"
                  formControlName="selectedLine" [(ngModel)]="selectedLine">
                    <mat-option *ngFor="let line of lineList" [value]="line">
                      {{ line._name }}
                    </mat-option>
      </mat-select>
    </mat-form-field>


      <!--Select Go Path-->
      <mat-form-field>
      <mat-select id="goPath"
                  placeholder="Please Select a Go Path"
                  formControlName="goPath" [(ngModel)]="goPath">
                    <mat-option *ngFor="let path of pathsToShow" [value]="path">
                    {{ this.getPathNodeList(path) }}
                    </mat-option>
      </mat-select>
    </mat-form-field>
      <!--Select Return Path-->
      <mat-form-field>
      <mat-select id="returnPath"
                  placeholder="Please Select a Return Path"
                  formControlName="returnPath" [(ngModel)]="returnPath">
                    <mat-option *ngFor="let path of pathsToShow" [value]="path">
                    {{ this.getPathNodeList(path) }}
                    </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Trip Frequency-->
    <mat-form-field>
      <input matInput
             type="number"
             placeholder="Trip Frequency in minutes"
             formControlName="frequency" />
    </mat-form-field>

    <!-- Number of Trips-->
    <mat-form-field>
      <input matInput
             type="number"
             placeholder="Number of Trips"
             formControlName="numberOfTrips" />
    </mat-form-field>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!--Time-->
    <div class="time">
      <input placeholder="Select a starting time"
             aria-label="24hr format"
             [ngxTimepicker]="fullTime"
             [format]="24"
             formControlName="startTime"
             readonly />
      <ngx-material-timepicker #fullTime formControlName="startTime" name="startTime" ngDefaultControl>
      </ngx-material-timepicker>
    </div>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!--Submit Button-->
    <div class="button-wrapper">
      <button mat-raised-button
              color="primary"
              (click)="onCreateTrips()">
        Create Trips
      </button>
    </div>
  </form>
</mat-card>
