<br />
<br />

<h1>
  <b> List Trips By Line </b>
</h1>

<br />

<form class="lineSearch" [formGroup]="form" novalidate>
  <mat-select
    appearance="fill"
    (selectionChange)="onSearchLines()"
    placeholder="Select Lines"
    formControlName="lineNames"
    multiple
    [(ngModel)]="lineNamesList"
  >
    <mat-option *ngFor="let line of lineList" [value]="line._name">{{
      line._name
    }}</mat-option>
  </mat-select>
</form>
<br />

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="name"
  class="mat-elevation-z8"
>
  <!-- Line Name Column -->
  <ng-container matColumnDef="line">
    <th mat-header-cell *matHeaderCellDef>Trip's Line Name</th>
    <td mat-cell *matCellDef="let element">{{ element.lineName }}</td>
  </ng-container>

  <!-- Path -->
  <ng-container matColumnDef="path">
    <th mat-header-cell *matHeaderCellDef>
      Trip's Ordered Nodes [Node(duration,distance)]
    </th>
    <td mat-cell *matCellDef="let element">
      {{ this.getPathNodeList(element.pathName) }}
    </td>
  </ng-container>

  <!-- Orientation -->
  <ng-container matColumnDef="orientation">
    <th mat-header-cell *matHeaderCellDef>Orientation</th>
    <td mat-cell *matCellDef="let element">
      {{ element.orientation }}
    </td>
  </ng-container>

  <!-- Is Empty -->
  <ng-container matColumnDef="isEmpty">
    <th mat-header-cell *matHeaderCellDef>Is Empty</th>
    <td mat-cell *matCellDef="let element">
      {{ this.checkIfEmpty(element.isEmpty) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  class="paginator"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
