<h2 mat-dialog-title>Delete Account</h2>
<mat-dialog-content class="mat-typography">
  <p>Are you sure you want to delete your account?</p>
  <p>If you delete your account, you will lose access to your account and all your data will be permanently erased.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" color="warn" (click)="deleteAccount()">Delete</button>
</mat-dialog-actions>