.div-personal {
  margin-left: 30px;
}

.div-data {
  font-size: 15px;
  margin-left: 70px;
}

mat-form-field {
  margin-left: 15px;
  max-width: 300px;
}

mat-chip {
  max-width: 200px;
  margin-left: 30px;
}

.roles {
  margin-left: 40px;
}

mat-icon {
  vertical-align: text-bottom;
}

.button-wrapper {
    margin-top: 80px;
    vertical-align: text-bottom;
}
