<mat-card class="root">
  <form [formGroup]="profileForm" novalidate>
    <h1>{{ nameTitle }}</h1>

    <div class="div-personal">
      <h2>
        <mat-icon>perm_identity</mat-icon> Personal Data
      </h2>
    </div>


    <div class="div-data">
      <!--User Name-->
      <b>Full Name: </b>
      <mat-form-field [style.width.px]=400>
        <input formControlName="name" matInput [readonly]="true" type="text" />
      </mat-form-field>
      <p></p>
      <!--User Email-->
      <b>Email: </b>
      <mat-form-field [style.width.px]=400>
        <input formControlName="email" [readonly]="true" matInput type="text" />
      </mat-form-field>
      <p></p>
      <!--Roles-->
      <b>Roles: </b>
      <p></p>
      <div class="roles">
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
          <mat-chip *ngFor="let role of availableColors" selected [color]="role.color">
            {{role.name}}
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="button-wrapper">
        <button mat-raised-button color="warn" (click)="deleteAccountDialogue()">
          Delete Account
        </button>
      </div>

    </div>

  </form>
</mat-card>
