@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
  width: 98%;
}

mat-form-field,
mat-label {
  width: 15%
}

mat-icon {
  vertical-align: text-bottom;
}

.button-wrapper {
  margin-left: 40px;
  margin-top: 5px;
}

.div-personal {
  margin-left: 30px;
}

.div-data {
  font-size: 15px;
  margin-left: 70px;
}
