<mat-card>

  <div class="div-personal">
    <h2>
      <b>
        <mat-icon>perm_identity</mat-icon>
        Login
      </b>
    </h2>
  </div>

  <div class="div-data">
    <form [formGroup]="loginForm" novalidate>

      <mat-form-field appearance="fill">
        <input placeholder="Enter your e-mail" formControlName="email" matInput type="text" required>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <input placeholder="Enter your password" formControlName="password" matInput [type]="hide ? 'password' : 'text'"
          required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <div class="button-wrapper">
    <p></p>
    <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
    &nbsp;
    <p></p>
    <p>Don't have an account? Click <a [routerLink]="['/auth/register']">here</a> to register</p>
  </div>
</mat-card>
