<mat-card>
  <form
    [formGroup]="driverDutyForm"
    (ngSubmit)="onCreateDriverDuty()"
    novalidate
  >
    <h1>Create Driver Duty</h1>

    <!--Node name-->
    <!--Nome da Linha-->
    <mat-form-field>
      <input matInput placeholder="Driver Duty Name" formControlName="name" />
      <mat-error *ngIf="hasError('name', 'maxlength')"
        >Name must be less than 200 characters long
      </mat-error>
    </mat-form-field>
    <br />
    <br />

    <!--Color-->
    <div class="ColorPickerLabel">Select a color for the driver duty</div>

    <div class="colorPicker">
      <chrome-picker [control]="chromeControl"></chrome-picker>
    </div>
    <br />
    <br />

    <form [formGroup]="form" novalidate>
      <mat-select
        id="line"
        (selectionChange)="onSearchVehicleDuty()"
        placeholder="Please Select one Vehicle Duty"
        formControlName="vDuty"
        [(ngModel)]="vehicleDutyNameList"
      >
        <mat-option
          *ngFor="let vehicleDuty of vehicleDutyList"
          [value]="vehicleDuty.id"
          >{{ vehicleDuty.name }}</mat-option
        >
      </mat-select>
    </form>
    <br />
    <br />
    <mat-label
      >Please select one or more Work Blocks From the Driver Duty</mat-label
    >
    <br />
    <br />
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="name"
      matSortDirection="asc"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Work Block Duration  -->
      <ng-container matColumnDef="startNode">
        <th mat-header-cell *matHeaderCellDef>Start Node</th>
        <td mat-cell *matCellDef="let element">
          {{ element.startNode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="endNode">
        <th mat-header-cell *matHeaderCellDef>End Node</th>
        <td mat-cell *matCellDef="let element">
          {{ element.endNode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">
          {{ element.endTime - element.startTime }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <br />

    <div class="button-wrapper">
      <button mat-raised-button color="primary">Create Driver Duty</button>
    </div>
  </form>
</mat-card>
