<mat-card class="root">
  <form [formGroup]="createNodeForm" novalidate>
    <h1>Create Node</h1>

    <!--Node name-->
    <mat-form-field>
      <input
        matInput
        placeholder="Node Name"
        formControlName="name"
        type="text"
      />

      <mat-error *ngIf="hasError('name', 'minlength')"
        >Name must be at least 3 characters long
      </mat-error>

      <mat-error *ngIf="hasError('name', 'maxlength')"
        >Name can't be more than 200 characters long
      </mat-error>

      <mat-error *ngIf="hasError('name', 'required')"
        >Name is required
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <!--Node shortname-->
    <mat-form-field>
      <input
        placeholder="Node Short Name"
        formControlName="shortName"
        matInput
        type="text"
      />

      <mat-error *ngIf="hasError('shortName', 'maxlength')"
        >Short Name can't be more than 20 characters long
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <!--Node Latitude-->
    <mat-form-field>
      <input
        placeholder="Latitude"
        formControlName="latitude"
        matInput
        type="number"
      />

      <mat-error *ngIf="hasError('latitude', 'max')"
        >Latitude can't be more than 90º
      </mat-error>

      <mat-error *ngIf="hasError('latitude', 'min')"
        >Latitude can't be less than -90º
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <!--Node Longitude-->
    <mat-form-field>
      <input
        placeholder="Longitude"
        formControlName="longitude"
        matInput
        type="number"
      />
      <mat-error *ngIf="hasError('longitude', 'max')"
        >Longitude can't be more than 180º
      </mat-error>

      <mat-error *ngIf="hasError('longitude', 'min')"
        >Longitude can't be less than -180º
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <!--Node Relief and Depot CheckBoxes-->
    <mat-checkbox
      #isReliefPoint
      (change)="getIsReliefChecked(isReliefPoint)"
      class="example-margin"
      formControlName="isReliefPoint"
      >Is a Relief Point</mat-checkbox
    >
    &nbsp;&nbsp;&nbsp;
    <mat-checkbox
      #isDepot
      (change)="getIsDepotChecked(isDepot)"
      class="example-margin"
      formControlName="isDepot"
      >Is a Bus Depot</mat-checkbox
    >
    &nbsp;&nbsp;&nbsp;
    <br /><br />
    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="onCreateNode()">
        Create Node
      </button>
    </div>
  </form>
</mat-card>
