<br />
<mat-form-field>
  <input
    class="filter"
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Node Name"
  />
</mat-form-field>

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="name"
  matSortDirection="asc"
  class="mat-elevation-z8"
>
  <!-- Name Column -->
  <ng-container matColumnDef="_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Node Name</th>
    <td mat-cell *matCellDef="let element">{{ element._name }}</td>
  </ng-container>

  <!-- Short Name Column -->
  <ng-container matColumnDef="_shortName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Node Short Name</th>
    <td mat-cell *matCellDef="let element">{{ element._shortName }}</td>
  </ng-container>

  <!-- Node Latitude -->
  <ng-container matColumnDef="_coordinates.latitude">
    <th mat-header-cell *matHeaderCellDef>Latitude</th>
    <td mat-cell *matCellDef="let element">
      {{ element._coordinates.latitude }}
    </td>
  </ng-container>

  <!-- Node Longitude -->
  <ng-container matColumnDef="_coordinates.longitude">
    <th mat-header-cell *matHeaderCellDef>Longitude</th>
    <td mat-cell *matCellDef="let element">
      {{ element._coordinates.longitude }}
    </td>
  </ng-container>

  <!-- Node Relief Point -->
  <ng-container matColumnDef="_isReliefPoint">
    <th mat-header-cell *matHeaderCellDef>Relief Point</th>
    <td mat-cell *matCellDef="let element">
      {{ checkIfReliefPoint(element._isReliefPoint) }}
    </td>
  </ng-container>

  <!-- Node Depot Point -->
  <ng-container matColumnDef="_isDepot">
    <th mat-header-cell *matHeaderCellDef>Bus Depot</th>
    <td mat-cell *matCellDef="let element">
      {{ checkIfBusDepot(element._isDepot) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
