<br />
<br />

<form [formGroup]="form" novalidate>
  <mat-select
    id="allowedVehicles"
    (selectionChange)="onSearchLines()"
    placeholder="Select Lines"
    formControlName="lineNames"
    multiple
    [(ngModel)]="lineNamesList"
  >
    <mat-option
      *ngFor="let vehicleType of lineList"
      [value]="vehicleType._name"
      >{{ vehicleType._name }}</mat-option
    >
  </mat-select>
</form>
<br />

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="name"
  matSortDirection="asc"
  class="mat-elevation-z8"
>
  <!-- Line Name Column -->
  <ng-container matColumnDef="line">
    <th mat-header-cell *matHeaderCellDef>Line Name</th>
    <td mat-cell *matCellDef="let element">{{ element._line.name }}</td>
  </ng-container>

  <!-- Line start node -->
  <ng-container matColumnDef="pathNodeList">
    <th mat-header-cell *matHeaderCellDef>
      Path's Ordered Nodes [Node(duration,distance)]
    </th>
    <td mat-cell *matCellDef="let element">
      {{ this.getPathNodeList(element) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
