table {
  width: 80%;

}

.mat-form-field {
  font-size: 14px;
  width: 80%;
  margin-left: 15px;

}

.mat-elevation-z8 {
  margin-left: 1%
}

#allowedVehicles {
  margin-left: 1%;
  width: 40%;
}

.button-wrapper {
  margin-left: 1%;
  width: 40%;
}
