<mat-card>
  <form [formGroup]="createImportNetworkForm" novalidate>
    <h1>Import Network File</h1>

    <!--File Picker-->
    <mat-form-field class="columns">
      <mat-label *ngIf="selectedFiles; else newFile">{{
        selectedFiles.item(0).name
      }}</mat-label>
      <ng-template #newFile>
        <mat-label>Choose Network File</mat-label>
      </ng-template>
      <input matInput disabled />
      <button mat-icon-button matSuffix (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input
        hidden
        (change)="selectFile($event)"
        #fileInput
        type="file"
        id="file"
      />
    </mat-form-field>

    &nbsp;&nbsp;&nbsp;

    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="upload()">
        Import File
      </button>
    </div>
  </form>
</mat-card>
