<mat-card class="root">
  <h1>
    <b> Create Work Block </b>
  </h1>

  <form [formGroup]="workBlockForm">
    <!--Vehicle Duty-->
    <mat-form-field appearance="fill">
      <mat-label>Select Vehicle Duty</mat-label>
      <mat-select formControlName="vehicleDuty">
        <mat-option
          *ngFor="let lVehicleDuty of vehicleDutyList"
          [value]="lVehicleDuty.id"
          >{{ lVehicleDuty.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <br />

    <!--Duration-->
    <mat-form-field>
      <input
        placeholder="Duration"
        formControlName="duration"
        matInput
        type="number"
      />
    </mat-form-field>

    <br />

    <!--Number of Blocks-->
    <mat-form-field>
      <input
        placeholder="Number of Blocks"
        formControlName="numberOfBlocks"
        matInput
        type="number"
      />
    </mat-form-field>

    <br />

    <!--Is Crew Travel Time-->
    <mat-checkbox #isCrewTravelTime formControlName="isCrewTravelTime">
      Crew Travel Time</mat-checkbox
    >
    <br />
  </form>

  <br />

  <div class="button-wrapper">
    <p></p>
    <button mat-raised-button color="primary" (click)="onCreateWorkBlock()">
      Create Work Block
    </button>
    &nbsp;
  </div>
</mat-card>
