mat-form-field {
  width: 30%;
  margin: 10px;
  text-align: center;

}
mat-card {
  
  text-align: center;
  margin: auto;
}


table {
  width: 60%;
}

#distance{
  width: 20%
}
#time{
  width: 20%}

.mat-elevation-z8{
  text-align: left
  margin: auto;}



