<mat-card>
  <form [formGroup]="createPathForm" novalidate>
    <h1>Create Path</h1>

    <!--Lines-->
    <mat-form-field appearance="fill">
      <mat-label>Select the Line</mat-label>
      <mat-select [(ngModel)]="line" formControlName="line">
        <mat-option *ngFor="let l of lineList" [value]="l._name">{{
          l._name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <br />
    <br />

    <!--Orientation-->
    <mat-form-field appearance="fill">
      <mat-label>Select Line's Orientation'</mat-label>
      <mat-select [(ngModel)]="orientation" formControlName="orientation">
        <mat-option *ngFor="let ort of orientationList" [value]="ort">{{
          ort
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('orientation', 'required')"
        >Orientation is required
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <form [formGroup]="pathNodeForm" novalidate>
      <!--Select Node From List-->
      <mat-form-field appearance="fill" id="nodeSelector">
        <mat-label>Select the Nodes in the desired order</mat-label>
        <mat-select [(ngModel)]="selectedNode" formControlName="selectedNode">
          <mat-option *ngFor="let node of nodeList" [value]="node._shortName">{{
            node._shortName
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <!--Distance between nodes-->
      <mat-form-field id="distance">
        <input
          placeholder="Distance between nodes"
          formControlName="distance"
          matInput
          type="number"
          [readonly]="this.isFirstNode"
          [disabled]="this.isFirstNode"
        />
        <mat-error *ngIf="hasErrorPathNode('distance', 'min')"
          >Distance must be positive!
        </mat-error>
      </mat-form-field>

      <!--Time taken between nodes-->

      <mat-form-field id="time">
        <input
          placeholder="Time taken between nodes"
          formControlName="time"
          matInput
          type="number"
          [readonly]="this.isFirstNode"
        />
        <mat-error *ngIf="hasErrorPathNode('time', 'min')"
          >Time must be positive!
        </mat-error>
      </mat-form-field>
    </form>

    <br />
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onAddNode()">
        Add node to Path
      </button>
      <!--remove node button-->
      <button mat-raised-button color="primary" (click)="onRemoveNode()">
        Remove Last Node
      </button>
    </mat-card-actions>
    <br />

    <!-- Table for displaying data  -->
    <table mat-table [dataSource]="pathNodeList" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Node Name Column -->
      <ng-container matColumnDef="node">
        <th mat-header-cell *matHeaderCellDef>Node Name</th>
        <td mat-cell *matCellDef="let element">{{ element.node }}</td>
      </ng-container>

      <!-- Distance Column -->
      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef>Distance</th>
        <td mat-cell *matCellDef="let element">{{ element.distance }}</td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <br />

    <br />

    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="onCreatePath()">
        Create Path
      </button>
    </div>
  </form>
</mat-card>
