<mat-card>
  <form [formGroup]="createVehicleDutyForm" novalidate>
    <h1>Create Vehicle Duty</h1>

    <!--Name-->
    <mat-form-field class="name">
      <input placeholder="Name" formControlName="name" matInput type="string" />
    </mat-form-field>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!--Color-->
    <div class="ColorPickerLabel">Select a color for the Vehicle Duty</div>
    <div class="colorPicker">
      <chrome-picker [control]="chromeControl"></chrome-picker>
    </div>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!--Date-->
    <mat-form-field class="date">
      <input
        matInput
        formControlName="date"
        [matDatepicker]="dp3"
        placeholder="Please select vehicle duty date"
        disabled
      />
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker
        #dp3
        disabled="false"
        formControlName="date"
        name="date"
        ngDefaultControl
      ></mat-datepicker>
    </mat-form-field>

    <br />

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!--Trips-->
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="name"
      matSortDirection="asc"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Line Name Column -->
      <ng-container matColumnDef="line">
        <th mat-header-cell *matHeaderCellDef>Line Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lineName }}</td>
      </ng-container>

      <!-- Trip Path -->
      <ng-container matColumnDef="pathNodeList">
        <th mat-header-cell *matHeaderCellDef>
          Trip's Path Ordered Nodes [Node(duration,distance)]
        </th>
        <td mat-cell *matCellDef="let element">
          {{ this.getPathNodeListByID(element.pathName) }}
        </td>
      </ng-container>

      <!-- Path Orientation -->
      <ng-container matColumnDef="Orientation">
        <th mat-header-cell *matHeaderCellDef>Trips's Direction</th>
        <td mat-cell *matCellDef="let element">
          {{ element.orientation }}
        </td>
      </ng-container>

      <!-- Is Empty -->

      <ng-container matColumnDef="isEmpty">
        <th mat-header-cell *matHeaderCellDef>Is Empty</th>
        <td mat-cell *matCellDef="let element">
          {{ this.checkIfEmpty(element.isEmpty) }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      class="paginator"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="onCreateVehicleDuty()">
        Create Vehicle Duty
      </button>
    </div>
  </form>
</mat-card>
