.colorPicker {
  margin-left: 42.5%;
}

.ColorPickerLabel {
  width: 300px;
  color: grey;

  padding: 10px;
  margin: auto;
}

.mat-elevation-z8 {
  margin-left: 10%;
  text-align: left;
}

#line {
  width: 40%;
  text-align: auto;
}

.button-wrapper {
  margin-left: 30.5%;
  align-content: center;
  width: 40%;
}


table {
  width: 80%;

}

.name {
  text-align: auto;
}


.date {
  width: 20%;
  text-align: auto;
}

h1 {
  line-height: 300%;
}

mat-card {
  text-align: center;
}

mat-form-field,
mat-label {
  width: 35%;
}

mat-form-field {
  width: 30%;
  margin: 10px;
  text-align: center;
}

.paginator {
  width: 90%;
  margin-left: 0%;
}
