<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer color="primary" class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let route of routes" [routerLink]="route.path"> {{ route.label }} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- -->
      <div><img src="assets/opt.png" style="width:55x;height:55px;"></div>
      <span class="spacer"></span>
      <div>
        <span id="profile">
          <button mat-flat-button class="profile" color="primary" [disabled]="boolProfile" (click)="myProfile()">{{ profileText }}</button>
        </span>
        <span id="logout">
          <button mat-flat-button class="logout" color="primary" (click)="signinHandler()">{{ signinStatus }}</button>
        </span>
        &nbsp;
        &nbsp;
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
