.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

}

.spacer {
  flex: 1 1 auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  justify-content: space-between;
}

.span {
  padding-right: 1rem;
}

.logout {
  font-size: 20px;
}

.profile {
  font-size: 20px;
  margin-right: 30px;
}