body {
  margin: 0;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-admin {
  background-color: #f44336;
  color: #fff
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-gestor {
  background-color: #0e6b0e;
  color: #fff
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-client {
  background-color: #3f51b5;
  color: #fff
}
