<mat-card>
  <form [formGroup]="createDriverForm" (ngSubmit)="onCreateDriver()" novalidate>
    <h1>Create Driver</h1>

    <!--Driver name-->
    <mat-form-field>
      <input matInput placeholder="Driver Name" formControlName="name" />
    </mat-form-field>

    <br />

    <!--Driver BirthDate-->

    <mat-form-field>
      <input
        matInput
        formControlName="birthDate"
        [matDatepicker]="dp3"
        placeholder="Please select driver's birth date"
      />
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker
        #dp3
        formControlName="birthDate"
        name="birthDate"
        ngDefaultControl
      ></mat-datepicker>
    </mat-form-field>

    <br />

    <!--Driver license number-->
    <mat-form-field>
      <input
        matInput
        placeholder="Drivers License Number "
        formControlName="driversLicenseNumber"
      />
    </mat-form-field>

    <br />

    <!--Driver license due Date-->
    <mat-form-field>
      <input
        matInput
        formControlName="driversLicenseDueDate"
        [matDatepicker]="dp4"
        placeholder="Please select driver's license due date"
      />
      <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
      <mat-datepicker
        #dp4
        formControlName="driversLicenseDueDate"
        name="driversLicenseDueDate"
        ngDefaultControl
      ></mat-datepicker>
    </mat-form-field>

    <br />
    <br />
    <br />

    <!-- Drivers driver type-->
    <mat-select
      id="allowedDrivers"
      placeholder="Select the driver types of this driver"
      formControlName="driverTypes"
      multiple
      [(ngModel)]="driverTypes"
    >
      <mat-option
        *ngFor="let driverType of driverTypeList"
        [value]="driverType._name"
        >{{ driverType._name }}</mat-option
      >
    </mat-select>
    <br />
    <br />

    <br />

    <div class="button-wrapper">
      <button mat-raised-button color="primary">Create Driver</button>
    </div>
  </form>
</mat-card>
