h1 {
  line-height: 300%;
}

mat-card {
  width: 80% margin auto;
  text-align: center;
  margin: auto;
}

mat-form-field,
mat-label {
  width: 35%;
}

mat-form-field {
  width: 30%;
  margin: 10px;
  text-align: center;

}

#allowedDrivers {
  width: 35%;
  text-align: center;
}

#allowedVehicles {
  width: 35%;
  text-align: center;
}

.colorPicker {

  margin-left: 42.5%;

}
#allowedDrivers{
  width:30%}

.ColorPickerLabel {
  width: 300px;
  color: grey;

  padding: 10px;
  margin: auto;
}
