table {
  width: 80%;
}

h1 {
  margin-left: 45px;
}

.datePickerForm {
  padding-top: 15px;
  margin-left: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
  margin-left: 15px;
}

.mat-elevation-z8 {
  margin-left: 1%
}
