<br />
<br />

<h1>
  <b>
    List Vehicle Duties
  </b>
</h1>

<form [formGroup]="showVehicleDutyForm" novalidate class="datePickerForm">
  <!--Date-->
  <mat-form-field class=date>
    <input matInput (dateChange)="onSearchVehicleDuties()" formControlName="datePicker" [matDatepicker]="dp3"
      placeholder="Choose a Date" />
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false" formControlName="datePicker" name="datePicker" ngDefaultControl>
    </mat-datepicker>
  </mat-form-field>
</form>


<br />
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef><b>Name</b></th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef><b>Color</b></th>
    <td mat-cell *matCellDef="let element">{{ element.color }}</td>
  </ng-container>

  <!-- Depots Column -->
  <ng-container matColumnDef="depots">
    <th mat-header-cell *matHeaderCellDef><b>Depots</b></th>
    <td mat-cell *matCellDef="let element">
      {{ element.depots }}
    </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef><b>Date</b></th>
    <td mat-cell *matCellDef="let element">
      {{ element.date }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
