.no-perm {
  margin-top: 50px;
  width: 80% margin auto;
  text-align: center;
}

h1 {
  margin-top: 15px;

  font-size: 36px;
  margin-bottom: 25px;
}

.no-perm-text {
  font-size: 18px;
  line-height: 12px;
}
