<br />
<mat-form-field>
  <input
    class="filter"
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Line Name"
  />
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- (matSortChange)="onMatSortChange($event)" -->
  <!-- Name Column -->
  <ng-container matColumnDef="_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Line Name</th>
    <td mat-cell *matCellDef="let element">{{ element._name }}</td>
  </ng-container>

  <!-- Line Color -->
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef>Line Color</th>
    <td mat-cell *matCellDef="let element">{{ element._color }}</td>
  </ng-container>

  <!-- Line start node -->
  <ng-container matColumnDef="startNode">
    <th mat-header-cell *matHeaderCellDef>Line's Start Node</th>
    <td mat-cell *matCellDef="let element">
      {{ element._startNode.shortName }}
    </td>
  </ng-container>

  <!-- Line's End Node -->
  <ng-container matColumnDef="endNode">
    <th mat-header-cell *matHeaderCellDef>Line's End Node</th>
    <td mat-cell *matCellDef="let element">
      {{ element._endNode.shortName }}
    </td>
  </ng-container>

  <!-- Allowed Vehicles Types-->
  <ng-container matColumnDef="allowedVehicles">
    <th mat-header-cell *matHeaderCellDef>
      Allowed Vehicles Types
    </th>
    <td mat-cell *matCellDef="let element">
      {{ this.getAllowedVehicleTypes(element) }}
    </td>
  </ng-container>

  <!-- Allowed Driver Types -->
  <ng-container matColumnDef="allowedDrivers">
    <th mat-header-cell *matHeaderCellDef>
      Allowed Driver Types
    </th>
    <td mat-cell *matCellDef="let element">
      {{ this.getAllowedDriverTypes(element) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
