<mat-card>
  <form [formGroup]="createLineForm" (ngSubmit)="onCreateLine()" novalidate>
    <h1>Create Line</h1>

    <!--Node name-->
    <!--Nome da Linha-->
    <mat-form-field>
      <input matInput placeholder="Line Name" formControlName="name" />
      <mat-error *ngIf="hasError('name', 'maxlength')"
        >Name must be less than 200 characters long
      </mat-error>
    </mat-form-field>
    <br />
    <br />

    <!--Color-->
    <div class="ColorPickerLabel">Select a color for the line</div>

    <div class="colorPicker">
      <chrome-picker [control]="chromeControl"></chrome-picker>
    </div>
    <br />
    <br />

    <!--Start Node-->
    <mat-form-field appearance="fill">
      <mat-label>Select Start Node</mat-label>
      <mat-select [(ngModel)]="startNode" formControlName="startNode">
        <mat-option *ngFor="let node1 of nodeList" [value]="node1._shortName">{{
          node1._shortName
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <br />
    <br />

    <!--End Node-->
    <mat-form-field appearance="fill">
      <mat-label>Select End Node</mat-label>
      <mat-select
        name="endNode"
        [(ngModel)]="endNode"
        formControlName="endNode"
      >
        <mat-option *ngFor="let node2 of nodeList" [value]="node2._shortName">{{
          node2._shortName
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('endNode', 'required')"
        >End Node is required
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <!--Allowed Vehicles-->
    <mat-select
      id="allowedVehicles"
      placeholder="Select the Allowed Vehicle Types For This Line"
      formControlName="allowedVehicleTypes"
      multiple
      [(ngModel)]="allowedVehicleTypes"
    >
      <mat-option
        *ngFor="let vehicleType of vehicleTypeList"
        [value]="vehicleType._name"
        >{{ vehicleType._name }}</mat-option
      >
    </mat-select>

    <br />
    <br />

    <br />

    <!--Allowed Drivers-->
    <mat-select
      id="allowedDrivers"
      placeholder="Select the allowed Driver Types for this line"
      formControlName="allowedDriverTypes"
      multiple
      [(ngModel)]="allowedDriverTypes"
    >
      <mat-option
        *ngFor="let driverType of driverTypeList"
        [value]="driverType._name"
        >{{ driverType._name }}</mat-option
      >
    </mat-select>
    <br />
    <br />

    <br />

    <div class="button-wrapper">
      <button mat-raised-button color="primary">Create Line</button>
    </div>
  </form>
</mat-card>
