.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}

h1 {
  line-height: 300%;
}

mat-card {
  text-align: center;
}

mat-form-field,
mat-label {
  width: 35%;
}

mat-form-field {
  width: 30%;
  margin: 10px;
  text-align: center;

}

table {
  width: 80%;

}

.mat-form-field {
  font-size: 14px;
  width: 80%;
  margin-left: 15px;

}

.mat-elevation-z8 {
  margin-left: 10%
}

#line {
  width: 40%;
  text-align: auto;
}


.button-wrapper {
  margin-left: 30%;
  width: 40%;
}
