<br />
<br />
<mat-card>
  <form [formGroup]="createTripForm" novalidate>
    <h1>Create Trip</h1>

    <form [formGroup]="form" novalidate>
      <mat-select
        id="line"
        (selectionChange)="onSearchLines()"
        placeholder="Please Select one Line"
        formControlName="lineNames"
        [(ngModel)]="lineNamesList"
      >
        <mat-option *ngFor="let line of lineList" [value]="line._name">{{
          line._name
        }}</mat-option>
      </mat-select>
    </form>
    <br />
    <br />
    <mat-label>Please select one Path for the Trip</mat-label>
    <br />
    <br />
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="name"
      matSortDirection="asc"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Line Name Column -->
      <ng-container matColumnDef="line">
        <th mat-header-cell *matHeaderCellDef>Line Name</th>
        <td mat-cell *matCellDef="let element">{{ element._line.name }}</td>
      </ng-container>

      <!-- Line start node -->
      <ng-container matColumnDef="pathNodeList">
        <th mat-header-cell *matHeaderCellDef>
          Path's Ordered Nodes [Node(duration,distance)]
        </th>
        <td mat-cell *matCellDef="let element">
          {{ this.getPathNodeList(element) }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <br />
    <br />

    <mat-checkbox
      #isEmpty
      (change)="getIsEmptyChecked(isEmpty)"
      class="example-margin"
      formControlName="isEmpty"
      >Is Trip empty</mat-checkbox
    >
    <br />
    <br />
    <div class="24hr-example">
      <input
        placeholder="Select a starting time"
        aria-label="24hr format"
        [ngxTimepicker]="fullTime"
        [format]="24"
        formControlName="startTime"
        readonly
      />
      <ngx-material-timepicker
        #fullTime
        formControlName="startTime"
        name="startTime"
        ngDefaultControl
      ></ngx-material-timepicker>
    </div>
    <br />
    <br />

    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="onCreateTrip()">
        Create Trip
      </button>
    </div>
  </form>
</mat-card>
