<mat-card>
  <form [formGroup]="createVehicleForm" novalidate>
    <h1>Create Vehicle</h1>

    <!--Nome da Veiculo-->
    <mat-form-field>
      <input
        matInput
        placeholder="Vehicle License Plate"
        formControlName="licensePlate"
      />
    </mat-form-field>
    <br />
    <br />

    <mat-form-field>
      <input
        matInput
        placeholder="Vehicle Vin (Vehicle Identification Number)"
        formControlName="vin"
      />
    </mat-form-field>
    <br />
    <br />

    <!--Vehicle Type-->
    <mat-form-field appearance="fill">
      <mat-label>Select Vehicle Type </mat-label>
      <mat-select [(ngModel)]="vehicleType" formControlName="vehicleType">
        <mat-option
          *ngFor="let vType of vehicleTypeList"
          [value]="vType._name"
          >{{ vType._name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <br />
    <br />

    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="onCreateVehicle()">
        Create Vehicle
      </button>
    </div>
  </form>
</mat-card>
