<!-- <canvas class="map" id="map" class="match-parent" width="2800" height="1000" style="border:1px solid"></canvas> -->


<head>

</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <div class="center">

    <button mat-stroked-button color="primary" (click)="changeMapVisibility()"> 2D/3D </button>

  </div>

  <br>
  <br>
  <!-- <mat-slide-toggle [(ngModel)]="mapStatus">Slide Toggle Checked: {{isChecked}}</mat-slide-toggle> -->

  <div id=wrapper>

    <div id='map2D' class="div2D"></div>

    <div id=map3D class="div3D"></div>

  </div>

  <br>




  <form [formGroup]="nodeModelForm" novalidate>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

    <mat-form-field appearance="fill" id="nodeSelector">
      <mat-label>Select Node</mat-label>
      <mat-select [(ngModel)]="selectedNode" formControlName="selectedNode">
        <mat-option *ngFor="let node of nodeList" [value]="node._shortName">{{
          node._shortName
          }}</mat-option>
      </mat-select>
    </mat-form-field>

    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

    <mat-form-field appearance="fill" id="modelSelector">
      <mat-label>Select Model</mat-label>
      <mat-select [(ngModel)]="selectedModel" formControlName="selectedModel">
        <mat-option *ngFor="let m of models" [value]="m">{{
          m.name
          }}</mat-option>
      </mat-select>
    </mat-form-field>

    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <button mat-flat-button color="primary" (click)="upload()">Choose Model File</button>

  </form>


  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
</body>