<mat-card>
  <form
    [formGroup]="createVehicleTypeForm"
    (ngSubmit)="onCreateVehicleType()"
    novalidate
  >
    <h1>Create Vehicle Type</h1>

    <!--Vehicle type description-->
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" type="text" />
    </mat-form-field>

    <br />

    <!--Autonomy-->
    <mat-form-field>
      <input
        placeholder="Autonomy"
        formControlName="autonomy"
        matInput
        type="number"
      />
    </mat-form-field>

    <br />

    <!--Cost-->
    <mat-form-field>
      <input
        placeholder="Average Cost per km "
        formControlName="cost"
        matInput
        type="number"
      />
    </mat-form-field>

    <br />

    <!--Average Speed-->
    <mat-form-field>
      <input
        placeholder="Average Vehicle Speed"
        formControlName="avgSpeed"
        matInput
        type="number"
      />
    </mat-form-field>

    <br />

    <!--Energy Source-->
    <div class="energySource-selection-container">
      <mat-form-field appearance="fill">
        <mat-label>Select Energy Source</mat-label>
        <mat-select [(ngModel)]="energySource" formControlName="energySource">
          <mat-option *ngFor="let fuel of fuelList" [value]="fuel.name">{{
            fuel.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field>
      <input
        placeholder="Vehicle's Consumption "
        formControlName="consumption"
        matInput
        type="number"
      />
    </mat-form-field>

    <br />
    <mat-form-field>
      <input
        placeholder="Vehicle's Emissions "
        formControlName="emissions"
        matInput
        type="number"
      />
    </mat-form-field>

    &nbsp;&nbsp;&nbsp;

    <div class="button-wrapper">
      <button mat-raised-button color="primary">Create Vehicle Type</button>
    </div>
  </form>
</mat-card>
